{% extends 'base_template.html' %}
{% load humanize %}

{% block title %}
<section class="resume-section" id="about">

  <div class="resume-section-content">

    <h2 class="mb-0">
      <span style="color:#bb105a">.Login </span>
    </h2>

    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="id_username">Nombre de usuario</label>
        <input type="text" name="username" class="form-control" id="id_username" aria-describedby="emailHelp">
      </div>
      <div class="form-group">
        <label for="id_password">Password</label>
        <input type="password" name="password" class="form-control" id="id_password">
      </div>
      <button type="submit" class="btn btn-primary">Iniciar</button>
    </form>



  </div>
</section>
<hr class="m-0" />
{% endblock %}
